<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p><center>IMPORTANCE - HIGH</center></p>
    <p>
        Dear “Compliance Officer“
    </p>
    <p>
        Reg: Transaction Reference No – “{tranRefNo}” – Potential Match
    </p>
    <p>
        Please be informed that during the Sanction Screening, there is a potential match with the following Case No. – “{caseID}”.
        The base Url for the above screening is “{baseUrl}”
    </p>
    <p>
        Please access above mentioned case in Case Management and proceed further.
    </p>
    <p>
        Thank You
    </p>
    <p>
        THIS IS A SYSTEM GENERATED MAIL AND DOES NOT REQUIRE ANY SIGNATURE.
    </p>
</body>
</html>