<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p><center>IMPORTANCE - LOW</center></p>
    <p>
        Dear Compliance Officer,
    </p>
    <p>
        Subject line: Watchdog Screening - Daily Ongoing Monitoring-({Date})-({ActionDisplay})
    </p>
    <p>
        Please note the system has successfully completed the screening of your  ({CompanyName}) customers as a part of the daily ongoing monitoring. Please note, the daily ongoing monitoring includes and is not limited to UAE Local Terrorist List and UN List.
    </p>
    <p>
        Please find the results below
    </p>
    <p>
        •	Total Customers: {TotalCount}
    </p>
    <p>
        •	Potential Matches found: {count}
    </p>

    <p>
        {alertDisplay}
    </p>

    <div>
        {Html_Table}
    </div>

    <p>
        In the event that you have any queries, please contact  support@nationalcompliance.ae

        
    </p>
    <p>
        A case has been created against each one of such hits and the same can be processed by logging into Watchdog-> Case Management and processing the same on merits.
    </p>

    <p>
        Thank You,
    </p>
    <p>
        THIS IS A SYSTEM GENERATED EMAIL AND DOES NOT REQUIRE ANY SIGNATURE
    </p>
</body>
</html>
